<!-- Affichage de la liste des passagers -->
<p><mat-slide-toggle [(ngModel)]="showPhotos">Afficher les photos</mat-slide-toggle></p>
@if (passagers.length > 0) {
@for (passager of passagers; track passager.nom) {
<app-passager [passager]="passager" [showPhotos]="showPhotos"></app-passager>
}
  }
