.vol-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;

  .compagnie {
    width: 20%;
  }

  .icon {
    width: 5%;
  }

  div {
    margin-right: 10px;
    font-size: 1.2em;
    width: 10%;
  }

  .logo-vol {
    width: 200px;
    height: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: flex-end;

    .logo {
      max-width: 200px;
    }
  }
}
