<!-- Affichage d'un vol -->
<div class="vol-container">
  <div class="icon">
    <mat-icon>{{ page === Page.DECOLLAGE ? 'flight_takeoff' : 'flight_land' }}</mat-icon>
  </div>
  <div>{{ vol.icao }}</div>
  <div>{{ vol.matricule }}</div>
  <div class="compagnie">{{ vol.compagnie }}</div>
  <div>{{ vol.aeroportDepart }}</div>
  <div class="icon">
    <mat-icon>arrow_right_alt</mat-icon>
  </div>
  @if (!!vol.aeroportArrivee) {
  <div>{{ vol.aeroportArrivee }}</div>
  } @else {
  <div>Inconnu</div>
  }
  <div class="logo-vol">
    <img class="logo" src="assets/{{ vol.compagnie }}.png" alt="Logo de la compagnie aérienne {{ vol.compagnie }}">
  </div>
</div>
