.passager-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 25px 0;

  .image-passager {
    width: 100px;
  }

  .nom-passager {
    width: 250px;
  }

  div {
    margin-right: 10px;
    font-size: 1.2em;
    width: 200px;
  }

  .baggage {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
