<!-- Affichage d'un passager -->
<div class="passager-container">
  @if (showPhotos) {
    <div class="image-passager">
      <img src="{{ passager.image }}" alt="Photo du passager">
    </div>
  }
  <div class="nom-passager" matTooltip="{{ passager.email }}">
    {{ passager.nom }}
  </div>
  <div appClasseVol [classeVol]="passager.classeVol">
    {{ passager.classeVol }}
  </div>
  <div class="baggage" appPoidsBagage [classeVol]="passager.classeVol" [nombreBagageEnSoute]="passager.nbBagagesSoute">
    <div>
      <mat-icon>card_travel</mat-icon>
    </div>
    <div>
      x{{ passager.nbBagagesSoute }}
    </div>
  </div>
</div>
